html, body, h1, h2, h3, h4, h5, h6, a, img, ul, li, form, article, footer, header, main, nav, section, button{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Oswald, sans-serif;
}

p{
    font-family: Karla, sans-serif;
}

#hero article div, #features, #features div{
    text-align: center;
}

#hero article div h1, #features h3{
    text-transform: uppercase;
}

#logo, #features{
    width: 100%;
}

#logo{
    height: 12vh;
    box-shadow: 1px 1px 5px #ddd;
    background-color: #fff;
	position: fixed;
	z-index: 999999;
}

#logo a img{
    width: 8%;
    padding: 1em;
}

#hero{
    height: 100vh;
    background-image: url("../images/fondo.jpg");
    background-size: cover;
}

#hero article{
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

#hero article div{
    margin: auto 35em auto 0;
    width: 45%;
}

#hero article div h1{
    font-size: 4.5em;
    color: #F60C5B;
}

#hero article div p{
    color: #F60C5B;
    font-size: 1.25em;
    font-weight: 500;
    line-height: 1.5em;
}

#hero article div div{
    margin: 0 auto;
}

.completo{
    text-decoration: none;
    color: #FE9300;
    transition: 0.4s ease-out;
	box-shadow: 0 1px 0 0 #FE9300;
}

.completo:hover{
    box-shadow: 0 2px 0 0 #FE9300;
}

#features{
    padding: 11em 0;
}

#features div{
    width: 26%;
	padding: 0 2em 2em;
    display: inline-block;
}

#features div div a img{
    width: 50%;
}

#features h3{
    font-size: 1.25em;
    font-weight: 600;
}

#features p{
    font-size: 1em;
}