html, body, h1, h2, h3, h4, h5, h6, a, img, ul, li, form, article, footer, header, main, nav, section, button{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Oswald, sans-serif;
}

p, option{
    font-family: Karla, sans-serif;
}

#hero article div, #features, .divfeatures, #calltoaction, #form, #form p input, #form p select, #usuarios h2, #usuarios ul{
    text-align: center;
}

#hero article div h1, #features h3, #calltoaction h2, #calltoaction a, #botonenviar button{
    text-transform: uppercase;
}

#features h3, #features p, #calltoaction h2, #calltoaction p, #form h2, #form p, #usuarios div h2, #secciones li, .listado{
    color: #6C0C44;
}

#calltoaction a, #form p input, #form p select, #botonenviar button{
    color: #fff;
}

#hero article div div, form{
    margin: 0 auto;
}

#logo, #features, #calltoaction div div, #form form ul, #form form ul div{
    width: 100%;
}

.divfeatures div a img, #calltoaction div, #copyright{
    width: 50%;
}

#features p, #calltoaction p, #calltoaction a{
    font-size: 1em;
}

#form form ul, #botonenviar, #redessociales ul{
    list-style: none;
}

#nombre-error, #email-error, #sexo-error, #descripcion-error{
    display: block;
    font-size: 0.9em;
}

#logo{
    height: 12vh;
    box-shadow: 1px 1px 5px rgb(194, 192, 192);
    background-color: #fff;
	position: fixed;
	z-index: 999999;
}

#logo a img{
    width: 7%;
    padding: 1em;
}

#hero{
    height: 100vh;
    background-image: url("../images/fondo.svg");
    background-size: cover;
}

#hero article{
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

#hero article div{
    margin: auto 35em auto 0;
    width: 46%;
}

#hero article div h1{
    font-size: 4.5em;
    color: #DD5E54;
}

#hero article div p{
    color: #F60C5B;
    font-size: 1.25em;
    font-weight: 500;
    line-height: 1.5em;
}

.completo{
    text-decoration: none;
    color: #FE9300;
    transition: 0.4s ease-out;
	box-shadow: 0 1px 0 0 #FE9300;
}

.completo:hover{
    box-shadow: 0 2px 0 0 #FE9300;
}

#features, #calltoaction, #form, #usuarios{
    padding: 8em 0;
}

#calltoaction, #usuarios{
    background-color: #ddd;
}

.divfeatures, .divfeatures div{
    width: 26%;
	padding: 0 2em 2em;
    display: inline-block;
}

#features h3{
    font-size: 1.25em;
    font-weight: 600;
}

#calltoaction div{
    margin: 0 auto 3em;
}

#calltoaction h2, #form h2{
    font-size: 2.25em;
}

#calltoaction p{
    line-height: 1.5em;
    margin-top: 1em;
}

#calltoaction a{
    text-decoration: none;
    cursor:pointer;
    background-color: #DD5E54;
	padding: 1em;
}

form{
    max-width: 90%;
}

#form p{
    line-height: 3em;
}

#form p input, #form p select{
    background-color: #DD5E54;
    border: none;
}

#form p input{
    padding: 1em 10em;
}

#form p select{
    padding: 1em 12.2em;
}

#form form ul div li{
    width: 100%;
    float:left;
}

#botonenviar{
    padding-top: 1em;
    cursor: pointer;
}

#botonenviar button{
    padding: 1em;
    margin: 2em auto;
    background-color: #faaf52;
}

#usuarios div h2{
    font-size: 2em;
}

#secciones, .listado{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
    padding-bottom: 1em;
}

#secciones{
    padding-top: 2em;
}

.titulosusuarios{
    font-weight: 400 !important;
}

#secciones li, .listado{
    list-style: none;
    font-size: 1.1em;
    font-weight: 300;
}

footer{
    background-color: #6C0C44;
    height: 30vh;
}

#copyright{
    padding: 9em 0 0 1em;
    float: left;
}

#copyright p{
    color: #fff;
}

#redessociales li{
    float: left;
    width: 8%;
    margin-top: 5em;
}

#facebook{
    margin-left: 9em;
}

#redessociales img{
    width: 40%;
}

@media(max-width: 991px )and (min-width: 481px){
    .divfeatures, .divfeatures div, #calltoaction div{
        width: 70%;
    }

    #features p, #calltoaction p, #calltoaction a, #botonenviar button, #hero article div p{
        font-size: 1em;
    }

    #logo a img{
        width: 9%;
        display: block;
        margin: auto;
    }
    
    #hero{
        background-position: 70% 30%;
    }

    #hero article div{
        margin: auto 22em auto 0;
        width: 46%;
    }

    #hero article div h1{
        font-size: 5em;
    }

    .divfeatures{
        padding: 0 2em 5em;
    }

    .divfeatures div a img{
        width: 11%;
    }

    #features{
        padding: 8em 0;
    }

    #features h3{
        font-size: 1.5em;
    }

    #calltoaction, #form{
        padding-bottom: 8em;
    }

    #calltoaction div{
        width: 77%;
    }

    #calltoaction h2, #form h2{
        font-size: 3em;
    }

    #form p input{
        padding: 1em 5em;
    }

    #form p select{
        padding: 1em 7.35em;
    }

    #botonenviar{
        display: inline-block;
        width: 100%;
        margin: 0 auto;
    }

    #botonenviar button{
        margin: 1em auto;
        width: 20%;
    }

    #copyright{
        padding: 7.5em 0 0 1em;
    }

    #redessociales li{
        margin-top: 4.5em;
    }

    #redessociales img{
        width: 50%;
    }

    #facebook{
        margin-left: 4.5em;
    }

    #secciones, .listado{
        grid-template-columns: 200px 200px 200px;
    }
}

@media(max-width: 480px){
    .divfeatures, .divfeatures div, #calltoaction div{
        width: 100%;
    }

    #hero article div, .divfeatures, .divfeatures div{
        width: 90%;
    }

    #features p, #calltoaction p, #calltoaction a, #botonenviar button, #hero article div p, #copyright p{
        font-size: 0.9em;
    }

    #logo a img{   
        width: 16%;
        display: block;
        margin: auto;
    }

    #hero{
        background-position: 0% 30%;
    }

    #hero article div{
        margin: auto 0;
    }

    #hero article div p{
        font-size: 1em;
    }

    #features{
        padding: 7em 0;
    }

    .divfeatures, .divfeatures div{
        padding: 0 0em 1em;
        display: inline-block;
    }

    .divfeatures div a img{
        width: 10%;
    }

    #calltoaction div{
        width: 92%;
    }

    #calltoaction, #form {
        padding-bottom: 7em;
    }

    #form p input{
        padding: 1em 5.3em;
    }

    #form p select{
        padding: 1em 7.75em;
    }

    .liform{
        margin-left: 0;
    }

    #copyright{
        padding: 7.8em 0 0 1em;
    }

    #redessociales{
        position: absolute;
    }

    #redessociales li{
        width: 15%;
        margin-top: 3em;
    }

    #facebook{
        margin-left: 6.5em;
    }

    #secciones, .listado{
        grid-template-columns: 110px 110px 110px;
    }
}